---
title: Privacy policy
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({ class: 'header_light' }) }}
	<div class="wrapper">
		<div class="inner">
			<!-- begin content -->
			<div class="content">
				<h1 class="title-lg">h1/title-lg</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iste excepturi quae veritatis perspiciatis inventore debitis culpa officia animi facilis, reprehenderit consequatur, neque accusantium, officiis beatae ipsa dolore?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iste excepturi quae veritatis perspiciatis inventore debitis culpa officia animi facilis, reprehenderit consequatur, neque accusantium, officiis beatae ipsa dolore?</p>
				<h2 class="title-md">h2/title-md</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempora ea ipsam amet! Voluptatum hic explicabo, minus reiciendis doloribus saepe voluptas, eveniet eius repellat fugiat possimus consequuntur illo.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempora ea ipsam amet! Voluptatum hic explicabo, minus reiciendis doloribus saepe voluptas, eveniet eius repellat fugiat possimus consequuntur illo.</p>
			</div>
			<!-- end content -->
		</div>
	</div>
	{{ footer.block() }}

{% endblock %}