---
title: Search
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({ class: 'header_light' }) }}
	<div class="wrapper">
		<!-- begin search -->
		<div class="results">
			<div class="results__inner inner">
				<div class="results__request">Results for "cod"</div>
				<div class="results__wrap">
					<div class="results__tags">
						<div class="results__group">
							<div class="results__label">Domain</div>
							<div class="results__row">
								<a href="#" class="tag">Code</a>
								<a href="#" class="tag">Codeigniter</a>
							</div>
						</div>
						<div class="results__group">
							<div class="results__label">Technologies</div>
							<div class="results__row">
								<a href="#" class="tag tag_purple">Codeigniter</a>
							</div>
						</div>
					</div>
					<div class="results__articles">
						<div class="results__item">
							<div class="results__img">
								<img src="./img/logo-1.png" alt="img">
							</div>
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__img">
								<img src="./img/logo-1.png" alt="img">
							</div>
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<div class="results__description"><span class="text-blue">Cod</span>eWeek EU</div>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
						<div class="results__item">
							<div class="results__text">
								<a href="#" class="results__title">Kidswho<span class="text-blue">cod</span>e. Unexpected Thinking</a>
								<p>Design and print customised QR <span class="text-blue">Cod</span>e Business Cards with MOO! Simply enter your QR code data and we do the rest | MOO (United States)</p>
							</div>
						</div>
					</div>
				</div>
				<ul class="results__pagination pagination">
					<li class="is-active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
				</ul>
			</div>
		</div>
		<!-- end search -->
	</div>
	{{ footer.block() }}

{% endblock %}
