<!-- begin about -->
<div class="about">
	<div class="about__bg">
		<img class="about__img" data-left-top src="./img/element-8.svg" alt="img">
		<img class="about__img" data-left-bottom src="./img/element-7.svg" alt="img">
		<img class="about__img" data-right-top src="./img/element-6.svg" alt="img">
		<img class="about__img" data-right-middle src="./img/element-5.svg" alt="img">
		<img class="about__img" data-right-bottom src="./img/element-4.svg" alt="img">
	</div>
	<div class="about__inner inner">
		<div class="about__wrap">
			<h2 class="about__title title-md">About KYIV IT Cluster</h2>
			<div class="about__text">
				<p>We are the NGO and community of KYIV IT Companies and related ecosystem.</p>
				<p>We unite, educate, strengthen, inspire our members and help them identify their mutual interests and reach their common goals, be it projects with education and interaction with local universities, work with authorities for joint programs or help in establishing good sound partnerships with international partners and clients.</p>
			</div>
			<div class="about__row">
				<div class="about__col">
					<a href="#" class="item">
						<div class="item__bg" style="background-image: url(./img/cluster-presentation.svg);"></div>
						<div class="item__wrap">
							<div class="item__title">Cluster Presentation</div>
							<span class="item__view">View More{{mixins.icon('arrow-right')}}</span>
						</div>
					</a>
				</div>
				<div class="about__col">
					<a href="#" class="item">
						<div class="item__bg" style="background-image: url(./img/media-partnership.svg);"></div>
						<div class="item__wrap">
							<div class="item__title">Cross-clusters cooperation</div>
							<span class="item__view">View More{{mixins.icon('arrow-right')}}</span>
						</div>
					</a>
				</div>
				<div class="about__col">
					<a href="#" class="item">
						<div class="item__bg" style="background-image: url(./img/media-partnership-2.svg);"></div>
						<div class="item__wrap">
							<div class="item__title">Media Partnership</div>
							<span class="item__view">View More{{mixins.icon('arrow-right')}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end about -->